/* ==========================================================================
   Archive pages
   ========================================================================== */




/*
   Post archive
   ========================================================================== */

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: 8px 0;
    border-bottom: 1px solid lighten($black,80);
    border-bottom: 1px solid rgba($black,.10);
    @include font-size(18,no);
    @include clearfix;

    > a {
      border-bottom-width: 0; /* remove underlines from items in post indexes */
    }
  }

  a > span {
    float: right;
  }

  .entry-date {
    @include font-size(14,no);
    text-transform: uppercase;
    display: none;

    @include media($medium) {
      display: inline;
    }
  }

  /* post excerpt */
  .excerpt {
    display: block;
    float: none;
    @include font-size(14, no, 16);

    @include media($medium) {
      width: 70%;
    }

    @include media($large) {
      width: 60%;
    }
  }
}
