<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.0/vegas.min.css" />

    {% include head.html %}
  </head>

  <body id="page" style="background-color: black;">

    {% include navigation.html %}

    <div id="home" role="main">
      <h1 class="title animated fadeIn">
        {{ site.title }}
      </h1>

      <h2 class="description animated fadeIn" itemprop="description">
        {{ site.description }}
      </h2>

      <hr class="tiny-divider animated fadeIn" />

      <div class="social-icons homepage-social-buttons animated fadeIn">
        <a href="https://youtube.com/user/1vasari" target="_blank" title="1vasari on YouTube">
          <i class="fa fa-youtube-square fa-3x"></i>
        </a>

        <a href="https://facebook.com/1vasari" title="1vasari on Facebook" target="_blank">
          <i class="fa fa-facebook-square fa-3x"></i>
        </a>

        <a href="https://instagram.com/1vasari" title="1vasari on Instagram" target="_blank">
          <i class="fa fa-instagram fa-3x"></i>
        </a>

        <a href="mailto:{{ site.owner.email }}" title="Email 1vasari">
          <i class="fa fa-envelope-square fa-3x"></i>
        </a>
      </div>
    </div>

    {% include scripts.html %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.0/vegas.min.js"></script>

    <script>
      $('body').vegas({
        slides: [
          {src: '/assets/img/vegas-1.png'},
          {src: '/assets/img/vegas-2.png'},
          {src: '/assets/img/vegas-3.png'},
          {src: '/assets/img/vegas-4.png'},
          {src: '/assets/img/vegas-5.png'},
          {src: '/assets/img/vegas-6.png'},
          {src: '/assets/img/vegas-7.png'},
          {src: '/assets/img/vegas-8.png'},
          {src: '/assets/img/vegas-9.png'}
        ],

        // Settings
        preload: true,
        timer: false,
        delay: 5 * 1000,
        transition: 'fade',
        transitionDuration: 2000,
        firstTransition: 'fade',
        firstTransitionDuration: 200
      })
    </script>
  </body>
</html>
